<p id="notice"><%= notice %></p>

<h1>Blogposts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogposts.each do |blogpost| %>
      <tr>
        <td><%= blogpost.title %></td>
        <td><%= blogpost.summary %></td>
        <td><%= link_to 'Show', blogpost, class: 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_blogpost_path(blogpost), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', blogpost, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blogpost', new_blogpost_path, class: "btn btn-success" %>
