<% properties.each do |property| %>
    <div class="col-4 mb-3">
        <div class="property">
            <%= image_tag(property.image, :style => "height: 200px; width: 2000px; background-repeat: no-repeat; background-position: center center; background-size: cover;") %>
            <%# <%= image_tag property_path(property.image) %> 
            <div class="property-summary p3">
                <h3 class="h5 mt-3 ml-2"><%= link_to property.name, property_path(property) %></h3>
                <%# <span class="mr-2 ml-2"><%= property.rooms %>
                    <%# <i data-feather="users" class="ml-1"></i></span> %>
                <%# <span class="mr-2 ml-2"><%= property.bathrooms %>
                    <%# <i data-feather="users" class="ml-1"></i></span> %>
                <%# <span class="mr-2 ml-2"><%= property.parking_spaces %>
                    <%# <i data-feather="users" class="ml-1"></i></span> %>
                <p class="mt-2 ml-2"><%= number_to_currency(property.price) %></p>
                <p class="mt-2 ml-2"><%= property.address %></p>
            </div>            
        </div>
    </div>
<% end %>