<!DOCTYPE html>
<html>
  <head>
    <title>CloudProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= controller.controller_name %>" class="<%= controller.action_name %> <%= "show-sidebar" if @show_sidebar.present? %>">
    <% if @show_sidebar.nil? %>
    <header>
      <%= render "layouts/nav/public" %>
    </header>
    <%= yield %>    
    <% else %>
      <%= render "layouts/nav/dashboard" %>
      <div class="container-fluid">
        <div class="row">
          <%= render "layouts/nav/sidebar" %>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-3">
            <%= yield %>
          </main>
        </div>
      </div>          
    <% end %> 

    <%# <%= render "layouts/footer" %>
    <div id="notifications"><%= notice %></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script>feather.replace()</script>

  </body>
</html>
